*{
  margin: 0;
  padding:0;

  font-family: 'Vollkorn', serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 7vh;
  line-height: 65px;
  text-align: center;
}

p {
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  line-height: 25px;
}

.hide {
  display: none;
}

/************Index.html************/

#banner {
  height: 70vh;
  width: 100vw;
  background: url("../images/main-background.jpeg") no-repeat fixed center;
  background-size: cover;
  position: relative;
}

#bannerText {
  height: 20vh;
  width: 45vw;
  background-color:rgba(0,0,0,0.8);
  color: #fff;
  position: absolute;
  top: 17vh;
  left:32vw;

}

#bannerText h1 {
  padding-top: 8%;
}

.container {
  width:100%;
/*  padding-left:7%;*/
  
}

.latest {
  
  height:25vh;
  width:25vw;
  background-color: #141414;
  float: left;
}

.margin {
  margin:0 1vw;
}

.centering {
  margin-left: 10%;
}

/***********games.html************/

#games {
  height:100vh;
  width: 100vw;
  background: url("../images/sparks.jpeg") no-repeat fixed center;
  background-size: cover;
}

.gameContainer {
  height: 30vh;
  width:  100vw;
  padding: 4vh;
  background-color:rgba(255,255,255,0.6);
  margin-bottom: 1vh;
}

.gameContainer a{
  text-decoration: none;

}

.gameImage {
  height: 100%;
  width: 30%;
  background-color: #141414;
  float:left;
  color: #fff;
  line-height:120px;
  margin-right: 2vw;
}

.link {
  text-decoration: none;
}

.gameText h1 {
  font-size: 5vh;
  padding-left: 1vw;
  color: #000;
  
}
.gameText p {
 color: #000;
 text-decoration: none;
}

.gameIntro {
  position: absolute;
  top: 15vh;
  left: 12vh;
  height: 80vh;
  width: 80vw;
  background-color: #fff;
}

.close {
  float: right;
  padding:1vh;
}

