<!DOCTYPE html>
<html>
  <head>
    <title>HEC-Multi</title>
    <link rel='stylesheet' href='/general/style.css'/>
    <link rel='stylesheet' href='/cubeRotation/cubeRotation.css'/>
  </head>
  <body>
    <div class="gameIntro">
      <a class="close" href="/games">Back</a>
      <h1>Rotating Cubes</h1><br>
      <p>Hold the controller flat and click as many green cubes as possible. Be careful there is a penalty for missing</p>
      
      <div class="phoneLink">
        <div id="qrcodeOne"></div>
        <div id="webAddressOne"></div>
      </div>

      <div class="phoneLink">
        <div id="qrcodeTwo"></div>
        <div id="webAddressTwo"></div>
      </div>
      
      <div class="playerBtn">
        <a onclick="rotatingCubes(); return false;"><h1>Start</h1></a>
      </div> 
    </div>

    <div class="countdown hide">
      <h1>Rotating Cubes</h1>
      <div id="countdown"></div>
    </div>
    <div id="endGame" class="hide">
      <a href="/games">back to games</a><br>
      <a href="#" onclick="rotatingCubes();">restart</a>

      <div>Final Results: 
        <div>Player One</div>
        <div>Score: <div id="fScoreOne"></div></div>
        <div>Right: <div id="fRightOne"></div></div>
        <div>Wrong: <div id="fWrongOne"></div></div>

        <div>Player Two</div>
        <div>Score: <div id="fScoreTwo"></div></div>
        <div>Right: <div id="fRightTwo"></div></div>
        <div>Wrong: <div id="fWrongTwo"></div></div>

      </div>
    </div>

    <div id="allCubes" class="hide">
        <div class="container">
          <div id="cubeOne" class="cube">
            <div class="face one"></div>
            <div class="face two"></div>
            <div class="face three"></div>
            <div class="face four"></div>
            <div class="face five"></div>
            <div class="face six"></div>
          </div>
          <div id="cubeTwo" class="cube">
            <div class="face one"></div>
            <div class="face two"></div>
            <div class="face three"></div>
            <div class="face four"></div>
            <div class="face five"></div>
            <div class="face six"></div>
          </div>
          <div id="cubeThree" class="cube">
            <div class="face one"></div>
            <div class="face two"></div>
            <div class="face three"></div>
            <div class="face four"></div>
            <div class="face five"></div>
            <div class="face six"></div>
          </div>
        </div>

        <div class="container">
          <div id="cubeFour" class="cube">
            <div class="face one"></div>
            <div class="face two"></div>
            <div class="face three"></div>
            <div class="face four"></div>
            <div class="face five"></div>
            <div class="face six"></div>
          </div>
          <div id="cubeFive" class="cube">
            <div class="face one"></div>
            <div class="face two"></div>
            <div class="face three"></div>
            <div class="face four"></div>
            <div class="face five"></div>
            <div class="face six"></div>
          </div>
          <div id="cubeSix" class="cube">
            <div class="face one"></div>
            <div class="face two"></div>
            <div class="face three"></div>
            <div class="face four"></div>
            <div class="face five"></div>
            <div class="face six"></div>
         </div>
        </div>
        </div>

    <div class="liveScore hide">
      <div>Time Left:<div id="gameTime"></div></div>
      <div>Player One</div>
      <div>Score<div id="oneScore">0</div></div>
      <div>Right:<div id="oneRight">0</div></div>
      <div>Wrong<div id="oneWrong">0</div></div>

      <div> Player Two</div>
        <div>Score<div id="twoScore">0</div></div>
        <div>Right:<div id="twoRight">0</div></div>
        <div>Wrong<div id="twoWrong">0</div></div>
    </div>


    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/general/nav/nav.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/libraries/jquery-qrcode-0.14.0/jquery-qrcode-0.14.0.min.js"></script>
    <script type="text/javascript" src="/cubeRotation/twoPlayers.js"></script>
  

  </body>
</html>
