<!DOCTYPE html>
<html>
  <head>
    <title>Phone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel='stylesheet' href='/cubeRotation/cubeRotation.css' />
  </head>
  <body>
     <div class="rowGame">
      <div id="pOne" class="pSquare"  onclick="move('cubeOne')"></div>
      <div id="pTwo" class="pSquare" onclick="move('cubeTwo')"></div>
      <div id="pThree" class="pSquare"  onclick="move('cubeThree')"></div>
    </div>
    <div class="rowGame">
      <div id="pFour" class="pSquare"  onclick="move('cubeFour')"></div>
      <div id="pFive" class="pSquare"  onclick="move('cubeFive')"></div>
      <div id="pSix" class="pSquare"  onclick="move('cubeSix')"></div>
    </div>



  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../../cubeRotation/playerOnePhone.js"></script>
  </body>
</html>
